body{
    
    background-image: linear-gradient(to top, grey, rgba(255, 255, 255, 0.884));
    background-color: black;
    

}

header{

text-align: center;
color: white;


}

div{

    text-align: center;
    background-color: green;
    border: 15px solid red;
    margin: 0px 130px 0px 130px;
    padding: 25px 25px 25px 25px;

}

footer{

    text-align: center;
    color: white;

}